################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EHR/obj/Debug
/EHR/.vs/EHR/v15/sqlite3
/EHR/bin/Debug
/EHR/.vs/EHR/v15/Server/sqlite3
